@font-face {
  font-family: "iconfont"; /* Project id 3167429 */
  src: url('iconfont.woff2?t=1643620929471') format('woff2'),
       url('iconfont.woff?t=1643620929471') format('woff'),
       url('iconfont.ttf?t=1643620929471') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-weiruan:before {
  content: "\e601";
}

.icon-qq:before {
  content: "\e602";
}

.icon-weixin:before {
  content: "\e7e5";
}

.icon-github:before {
  content: "\e691";
}

.icon-shejiaotubiao-09:before {
  content: "\e641";
}

